// preloader
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: $theme-color;
    @extend %of-hidden;

    .preloader-inner {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

        .preloader-icon {
            width: 72px;
            height: 72px;
            display: inline-block;
            padding: 0px;

            span {
                position: absolute;
                display: inline-block;
                width: 72px;
                height: 72px;
                border-radius: 100%;
                background: #fff;
                -webkit-animation: preloader-fx 1.6s linear infinite;
                animation: preloader-fx 1.6s linear infinite;

                &:last-child {
                    animation-delay: -0.8s;
                    -webkit-animation-delay: -0.8s;
                }
            }
        }
    }
}


@keyframes preloader-fx {
    0% {
        -webkit-transform: scale(0, 0);
        transform: scale(0, 0);
        opacity: 0.5;
    }

    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 0;
    }
}

@-webkit-keyframes preloader-fx {
    0% {
        -webkit-transform: scale(0, 0);
        opacity: 0.5;
    }

    100% {
        -webkit-transform: scale(1, 1);
        opacity: 0;
    }
}


//scroll to top button

.scrollToTop {
    position: fixed;
    bottom: -30%;
    right: 5%;
    z-index: 9;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: $theme-color;
    text-align: center;
    border-radius: 50%;
    @include font-size(20px);
    animation: lab_top_up 5s linear infinite;
    @include add-prefix(transition, $transition);
    z-index: 1;

    svg {
        color: $white-color;
        @extend %p-rel;
        z-index: 1;
    }
}

@keyframes lab_top_up {
    0% {
        transform: translateY(-15px);
    }

    50% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-15px);
    }
}

.pluse_1,
.pluse_2 {
    @extend %p-abs;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: rgba($theme-color, $alpha: .10);

    &::after,
    &::before {
        @extend %p-abs;
        background: $theme-color;
        border-radius: 50%;
        left: 50%;
        top: 50%;
        margin-left: -20px;
        margin-top: -20px;
    }

    &::after {
        width: 30px;
        height: 30px;
        background: transparent;
        margin-left: -15px;
        margin-top: -15px;
    }

    &:before {
        width: 40px;
        height: 40px;
    }
}

.pluse_1 {
    -webkit-animation: pluse_animate 3s infinite linear;
    animation: pluse_animate 3s infinite linear;
}

.pluse_2 {
    &::before {
        -webkit-animation: pluse_animate 3s infinite linear;
        animation: pluse_animate 3s infinite linear;
        -webkit-animation-delay: 1s;
        animation-delay: 1s;
        margin-left: 0;
        margin-top: 0;
    }
}

@keyframes pluse_animate {
    0% {
        opacity: 1;
        -webkit-transform: translate(-50%, -50%) scale(0.3);
        transform: translate(-50%, -50%) scale(0.3);
    }

    100% {
        opacity: 0;
        -webkit-transform: translate(-50%, -50%) scale(2);
        transform: translate(-50%, -50%) scale(2);
    }
}